version: '3.7'
services:
  wordpress:
    depends_on:
      - mysql
    restart: always
    image: wordpress:latest
    ports:
      - "8000:80"
    environment:
      WORDPRESS_DB_HOST: mysql:3306
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: wordpress
    volumes:
      - .:/var/www/html/wp-content/themes/techblogger
  mysql:
    image: mysql:latest
    ports:
      - 3306
    environment:
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
      MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
    volumes:
      - mysql:/var/lib/mysql
    command: ["--default-authentication-plugin=mysql_native_password"]
volumes:
  mysql:
    name: mysql
