/* GENERAL */

.top-padded {
    padding-top: 2rem;
}
.sidebar {
    color: #f8f9fa!important;
    background-color: #17a2b8!important;
}

.h1, .h2, h1, h2 {
    font-size: 1.8rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    font-weight: 400;
}

h2 a:hover {
    text-decoration: none;
}

h2 a {
    color: inherit;
}

/* END GENERAL */

/* NAV */

ul.pager {
    text-align: center;
}
.btn a {
    color: inherit;
    text-decoration: none;
}
.btn a:hover {
    color: inherit;
    text-decoration: none;
}

/* END NAV */

/* CONTENT AREA */

@media (min-width: 992px) {
    .content {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

.content-col .h1,
.content-col .h2,
.content-col .h3,
.content-col .h4,
.content-col .h5,
.content-col .h6,
.content-col h1,
.content-col h2,
.content-col h3,
.content-col h4,
.content-col h5,
.content-col h6 {
    color: #17a2b8!important;
}
.content {
    padding-top: 0;
    padding-bottom: 2rem;
}

.content-meta {
    display: block;
    font-size: 0.8rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
    font-weight: 600;
    color: gray;
}

.content p {
    margin-top: 0;
    margin-bottom: 1.2rem;
    line-height: 1.9rem;
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 0.02rem;
}

/* END CONTENT AREA */

/* CONTENT AUTHOR AREA */

.content-author {
}

.content-author .vcard {
    font-size: 1.2rem;
}

.content-author {
    text-align: left;
}

.content-author img {
    float: left;
    margin-top: 2px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 50%;
    border: #ececec 2px solid;
    overflow: hidden;
}


/* END CONTENT AUTHOR AREA */

/* COMMENTS AREA */

@media (min-width: 992px) {
    .comments-container {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

.comments-container {
    padding-top: 2rem;
    font-size: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

.comment-body {
    background-color: #f9f9f9;
    padding: 1rem;
}

.comment-author {
    margin-bottom: 1rem;
}

.comment-author img {
    border-radius: 50%;
    border: #ececec 2px solid;
}

textarea {
    width: 100%;
}

li.comment {
    background-color: #f9f9f9;
}

li.comment ul.children {
    padding-left: 2rem;
}

/* END COMMENTS AREA */

.sidebar {
    text-align: center;
}

.footer {
    color: #999999;
    padding-bottom: 1rem;
    font-size: 0.8rem;
    text-align: right;
}
